@model IpharmWebAppProject.Models.User

@{
    ViewData["Title"] = "Register";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/SignUp.css" />
    @{ ViewData["Title"] = "Login";
        Layout = "Login_layout"; }

</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
    </div>
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="user-details">
            <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Email</span>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Mobile</span>
                <input type="text" asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Country</span>
                <input type="text" asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">City</span>
                <input type="text" asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Adress</span>
                <input type="text" asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">PostalCode</span>
                <input type="text" asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Birthday</span>
                <input   type="text" asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

        </div>
        <div class="button">
            <input type="submit" value="Register" />
        </div>
    </form>

</body>
           
        @if(ViewBag.Error!=null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }
 
<div>
    <a asp-action="Login">Click here to login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
