@model IpharmWebAppProject.Models.Review

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/RatingStyleSheet.css" />
</head>

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control"></input>
                <span asp-validation-for="ProductId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="rating">
                    <input asp-for="Rate" type="radio" id="star5" name="rating" value=5 onchange="ChangeStar('5')" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input asp-for="Rate" type="radio" id="star4" name="rating" value=4 onchange="ChangeStar('4')" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input asp-for="Rate" type="radio" id="star3" name="rating" value=3 onchange="ChangeStar('3')" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input asp-for="Rate" type="radio" id="star2" name="rating" value=2 onchange="ChangeStar('2')" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input asp-for="Rate" type="radio" id="star1" name="rating" value=1 onchange="ChangeStar('1')" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                </div>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
