#title {
    text-shadow: 2px 2px #ede882;
    color: #F5F5F5 !important;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#twitter-title {
    text-shadow: 2px 2px #88e3e7;
    color: #F5F5F5 !important;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/*twitter*/
.list-group {
    flex-direction: row;
}

.list-group-item {
    border: none;
}