
.rating {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    margin-left: 320px;
}

    .rating > label {
        color: #ede882;
        float: right;
    }

        .rating > label:before {
            margin: 5px;
            font-size: 1em;
            font-family: FontAwesome;
            content: "\f005";
            display: inline-block;
        }

    .rating > input {
        display: none;
    }

        .rating > input:checked ~ label,
        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: #ede882;
        }

            .rating > input:checked + label:hover,
            .rating > input:checked ~ label:hover,
            .rating > label:hover ~ input:checked ~ label,
            .rating > input:checked ~ label:hover ~ label {
                color: #ede882;
            }
