*,
*:before,
*:after {
    transition: transform 0.6s cubic-bezier(0.6, 0, 0.4, 1);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: inherit;
    opacity: 0.6;
}

.search {
    overflow: hidden;
    padding: 0 0 1.25em;
    opacity: 0.7;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
}

    /*.search:hover, .search:focus-within {
        opacity: 1;
    }*/

.one {
    font-size: 5vw;
    margin-top: 1rem;
    width: calc(10em - 0.5em);
    height: 0.5em;
    z-index: 2;
    opacity: 0.7;
}

    .one:hover, .one:focus-within {
        opacity: 1;
    }

.two {
    width: calc(100% - 0.25em);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0.25em;
}

    .one:before,
    .two:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0.25em;
        border: 0.03em solid black;
    }

        .one:before:hover,
        .two:before:hover {
            background-color: #fff;
        }

.one:before {
    left: 0;
    border-right: none;
    border-radius: 0.25em 0 0 0.25em;
}

.two:before {
    right: 0;
    border-left: none;
    border-radius: 0 0.25em 0.25em 0;
}

.three {
    height: 100%;
    width: calc(100% - 0.25em);
    overflow: hidden;
}

input[type=text] {
    display: block;
    width: 100%;
    height: 100%;
    border: 0.125em solid;
    border-left: none;
    border-right: none;
    background: transparent;
    color: black;
    font: inherit;
    font-size: 0.25em;
}

    input[type=text], input[type=text]:focus {
        outline: none;
    }

.stick {
    position: absolute;
    height: 0.25em;
    width: 0.03em;
    right: 0.25em;
    top: 50%;
    transform: translate(0%, -50%);
}

    .stick:before, .stick:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    .stick:before {
        transform: rotate(45deg);
    }

    .stick:after {
        transform: rotate(-45deg);
    }

.one {
    transform: translateX(95%) translateX(-0.25em);
}

.two {
    transform: translateX(-100%) translateX(0.25em);
}

.three {
    transform: translateX(100%);
}

.four {
    transform: translateX(-100%);
}

.stick:before, .stick:after {
    transform: rotate(-45deg) translateY(150%);
}

.search:after {
    content: "";
    position: absolute;
    top: 1.25em;
    left: 0.25em;
    right: 0.25em;
    bottom: 1.5em;
    z-index: 0;
    box-sizing: content-box;
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    border-radius: 3em;
}

.search:focus-within:after {
    opacity: 1;
    transition-delay: 0.6s;
}

.search:focus-within .one,
.search:focus-within .two,
.search:focus-within .three,
.search:focus-within .four {
    transform: translateX(0);
}

.search:focus-within .stick {
    pointer-events: auto;
}

    .search:focus-within .stick:before {
        transform: rotate(45deg);
    }

    .search:focus-within .stick:after {
        transform: rotate(-45deg);
    }

*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

/*icons*/
.icons {
    margin-top: 12px;
    margin-left: 15px;
    display: flex;
    justify-content: left;
    opacity: 0.7;
}

    .icons:hover, icons:focus-within {
        opacity: 1;
    }

.small-icons {
    margin-top: 15px;
    margin-right: 10px;
}

.heart-icons {
    margin-top: 17px;
    margin-right: 10px;
}

.icons-div {
    display: inline;
}