@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');

/*the top bar*/

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

main{
    overflow:hidden;
}

header {
    height: 90px;
    z-index: 10;
    position: sticky;
    width: 100%;
}

.top {
    top: 0;
    background-color: white;
    height: 90px;
    position: fixed;
    width: 100%;
}

.top-row {
    background-color: white;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.top-layout {
    background-color: white;
    padding: 10px;
    display: block;
}

.logo-top {
    margin-right: 8px;
    margin-left: 3%;
    border-radius: 50%;
    padding: 8px;
}
    .logo-top:hover {
        background-color: #F5F5F5;
    }

.has-search .form-control {
    background-color: #F5F5F5;
    font-size: 20px;
    padding-left: 2.375rem;
    max-width: 1000%;
    border-radius: 25px;
    border: 0px solid;
}

.has-search .form-control-feedback {
    position: fixed;
    z-index: 2;
    display: block;
    background-color: #F5F5F5;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    border-radius: 25px;
    padding: 0.2rem;
}

.icons-top {
    color: dimgrey;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

    .icons-top:hover {
        border-radius: 50%;
        border: 3px hidden #F5F5F5;
        background: border-box;
        background-color: #F5F5F5;
        color: dimgrey;
    }

.my-col-9 {
    flex: 0 10 75%;
    max-width: 75%;
}

.my-col-10 {
    flex: 0 10 90%;
    max-width: 90%;
}

.my-col-3 {
    width: 300px;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

/*the nav bar*/

.top-nav {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    position: fixed;
    top: 50px;
    text-align: center;
    background-color: white;
    padding-bottom: 5px;
}

    .top-nav a {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        color: dimgrey;
        margin: 0 15px;
        font-size: 16px;
        letter-spacing: 1px;
        position: relative;
        display: inline-block;
    }
        .top-nav a:hover {
           color: dimgrey;
        }
        .top-nav a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

/*colors*/
#new-a::after {
    background-color: #face9e;
}

#friends-a::after {
    background-color: #d5a3e1;
}

#brands-a::after {
    background-color: #aaeed5;
}

#skincare-a::after {
    background-color: #ffc2df;
}

#haircare-a::after {
    background-color: #88e3e7;
}

#makeup-a::after {
    background-color: #ede882;
}