@model IpharmWebAppProject.Models.WishList

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/EditStyleSheet.css" />
</head>


<div class="title-div">
    <a class="title-edit" style="        color: #F5F5F5;
        text-shadow: 2px 2px #d5a3e1;
        margin-bottom: 20px;
">Wishlist</a>
</div>