@model IpharmWebAppProject.Models.API

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/HomeStyleSheet.css" rel="stylesheet" />
</head>

<div class="text-center">
    <h1 id="title" class="display-4"></h1><br />
    <h4 id="twitter-title">What people say about us:</h4>
    <ul id="posts" class="list-group"></ul>
</div>

<script>
    async function updateTitle() {
        let hourNow = (new Date()).getHours();
        let res = await fetch("https://api.sunrise-sunset.org/json?lat=32.0178&lng=34.8442&formatted=0");
        let results = (await res.json()).results;
        let sunrisehour = (new Date(results.sunrise)).getHours();
        let sunsethour = (new Date(results.sunset)).getHours();
        let title = (hourNow > sunrisehour && hourNow < sunsethour) ? 'Good Morning from iPharm' : 'Good Night from iPharm';
        $('#title').text(title);
    }
    updateTitle();

    function filterPosts(post) {
        let regex = new RegExp("^[a-zA-Z]+$");
        if (regex.test(post.text[0]))
            return post.text;
        return "";
    }

    window.model = @(Html.Raw(Json.Serialize(Model))); //api.post
    window.posts = [...new Set(JSON.parse(window.model.posts).statuses.map(filterPosts).filter((post) => post != ""))];

    for (let i = 0; i < (window.posts.length < 4 ? window.posts.length : 4); i++) {
        let text = window.posts[i];
        $("#posts").append($(`<li class="list-group-item"><i class="fab fa-twitter"></i>    ${text}</li>`));
    }
</script>