@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    window.isNight = (new Date()).getHours() > (new Date((await(await fetch("https://api.sunrise-sunset.org/json?lat=32.0178&lng=34.8442&formatted=0")).json()).results.sunset)).getHours();
</script>
