@model IpharmWebAppProject.Models.API

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="title" class="display-4"></h1><br />
    <h4>What people say about us:</h4>
    <ul id="posts" class="list-group"></ul>
</div>

<script>
    async function updateTitle() {
        let hourNow = (new Date()).getHours();
        let res = await fetch("https://api.sunrise-sunset.org/json?lat=32.0178&lng=34.8442&formatted=0");
        let sunset = (await res.json()).results.sunset;
        let sunsethour = (new Date(sunset)).getHours();
        let title = hourNow > sunsethour ? 'Good Night' : 'Good Morning';
        $('#title').text(title);
    }
    updateTitle();

    window.model = @(ViewBag.posts).replace(/&quot;/g, '"'); //api.post
    window.posts = JSON.parse(window.model).statuses;

    for (let i = 0; i < (window.posts.length < 3 ? window.posts.length : 3); i++) {
        let text = window.posts[i].text;
        $("#posts").append($(`<li class="list-group-item">${text}</li>`));
    }
</script>