<!DOCTYPE html>

@{
    ViewData["Title"] = "NotFoundPage";
    Layout = "Login_layout"; }
<link rel="stylesheet" href="~/css/NotFoundPage.css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Oops!</h1>
    <h3>we can't seem to find the page you are looking for..</h3>
    <p>
        <a class="btn bt" asp-action="Index">
            Home
        </a>
    </p>
    <div>
    </div>
</body>
</html>
