@model IpharmWebAppProject.Models.Order

@{
    ViewData["Title"] = "Checkout";
}

<head>
    <link rel="stylesheet" href="~/css/EditStyleSheet.css" />
</head>

<div class="title-div" style=" margin-left: 25%; margin-right: 25%;">
    <a class="title-edit title-other" style=" color: #F5F5F5; margin:20px;">Thank you for your order!</a>
</div>
<div style="text-align:center;">
    <p style=" font-family: 'Oswald', sans-serif; ">
    <p class="orderid">
        <b>Order Id:</b> @Html.DisplayFor(model => model.OrderId)

    </p>
    <p class="currentdate">
        <b>Order Date:</b> @Html.DisplayFor(model => model.OrderDate)
    </p>
</div>

