@model IEnumerable<IpharmWebAppProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}


<head>
    <link rel="stylesheet" href="~/css/StyleSearchPage.css" />
    @section scripts{
        <script>
            $(document).ready(function () {
                $("#s-query").keyup(function () {
                    ajaxfunc();
                });
                $(".form-select").change(function () {
                    ajaxfunc();
                });
            });

            function ajaxfunc(){
                    $.ajax({
                        url: '@Url.Action("SearchId", "Orders")',
                        data: {
                            query: $("#s-query").val(),
                            status: $('#status').val(),
                            price: $('#price').val(),
                            date: $('#date').val()
                        },
                        //cache: false,
                        type: "Get",
                        dataType: "html",
                        success: function (response) {
                            $('#partial-load').html(response);
                        },
                        failure: function (response) {
                            alert("f: " + response.responseText);
                        },
                        error: function (response) {
                            alert("e: " + response.responseText);
                        }
                    });

            }
        </script>
    }
</head>

<form class="search-space">
    <div class="form-group has-search">
        <input id="s-query" type="text" class="form-control" placeholder="Search by Id" autocomplete="off" />
    </div>
</form>

<div class="titles">
    @if (Context.User.Claims.ElementAt(10).Value == "Customer") //Customer
    {
        <h2>My last orders..</h2>
    }

</div>
<hr class="solid">

<div class="tiny-container">
    <div class="row">
        <div class="col-2">
            <select id="status" class="form-select">
                <option value="">Status</option>
                <option value="Paid">Paid</option>
                <option value="Arrived">Arrived</option>
            </select>
        </div>
        <div class="col-2">
            <select id="price" class="form-select">
                <option value="1">Price Range</option>
                <option value="2">0$-25$</option>
                <option value="3">25$-50$</option>
                <option value="4">50$-100$</option>
                <option value="5">100$+</option>
            </select>
        </div>
        <div class="col-2">
            <select id="date" class="form-select">
                <option value="">Order Date</option>
                <option value="Week">Last Week</option>
                <option value="Month">Last Month</option>
                <option value="Year">Last Year</option>
            </select>
        </div>
    </div>
</div>

<hr class="solid">

<div id="partial-load">
    @Html.Partial("~/Views/Orders/SearchId.cshtml")
</div>